<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ToDoList!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar is-white">
      <div class="container">
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/lists">My To-Do-Lists</a>
            <a class="navbar-item" href="/">Favorites</a>
            <a class="navbar-item" href="/">Recent lists</a>
            <a class="navbar-item" href="/">Account</a>

            <%= if (@conn |> Map.get(:assigns) |> Map.get(:current_user)) == nil do %>
              <a class="navbar-item" href="/sessions/new">Sign in</a>
            <% else %>
              <a><%= link "Sign out", to: session_path(@conn, :delete), method: "delete", class: "navbar-item" %></a>
            <% end %>

          </div>
        </div>
      </div>
    </nav>
    <div class="container has-text-centered">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
