<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Hello ToDoList!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="<%= static_path(@conn, "/images/logo.png") %>" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <%= if get_user(@conn) == nil do %>
              <a class="navbar-item is-active" href="/sessions/new">Sign in</a>
            <% else %>

              <a class="navbar-item is-active" href="/notes">
                My To-Do-Lists
              </a>
              <a class="navbar-item" href="/favorites">
                Favorites
              </a>
              <a class="navbar-item" href="/recents">
                Recent lists
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Account
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/registrations/edit">
                    Profile
                  </a>
                  <hr class="navbar-divider">
                  <a><%= link "Sign out", to: session_path(@conn, :delete), method: "delete", class: "navbar-item" %></a>
                </div>

              <% end %>
              </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
      <div id="flow">
        <span class="flow-1"></span>
        <span class="flow-2"></span>
        <span class="flow-3"></span>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
      <div class="section">

        <%= render @view_module, @view_template, assigns %>
      </div>
      </main>

      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <div class="soc">
              <a href="http://github.com/pedromcorreia/"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/pedro-m-correia/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            </div>
            <p>
            <strong>Created</strong> by <a href="http://github.com/pedromcorreia/">Pedro Correia</a>. 
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
            </p>
          </div>
        </div>
      </footer>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
