<h1 class="title has-text-left">
  <u><%= @note.title %></u>
</h1>
<h2 class="subtitle has-text-left">
  by @<%= concatenate_name(@user.name) %> - Created
  <%= Timex.diff(Timex.now, @note.inserted_at, :hours) %>
  hours ago
</h2>

<table class="table is-fullwidth">
  <tbody>
    <%= for goal <- @goals do %>
      <tr>
        <td><%= label :description, goal.description, class: "label" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
